* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.2;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

clearfix {
    overflow: auto;
    content: "";
    clear: both;
    display: table;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
    position: relative;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}


body {
    position: relative;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: sans-serif;
    overflow-x: hidden;
}

main {
    overflow: hidden;
    position: relative;
}

html {
    box-sizing: border-box;
}


/* Custom Grid */
.container {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.container {
    width: 100%;
    max-width: 1300px;
}

@media (max-width: 1440px) {
    .container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 1260px) {
    .container {
        width: 1100px;
    }
}

@media (max-width: 1160px) {
    .container {
        width: 900px;
    }
}

@media (max-width: 960px) {
    .container {
        width: 800px;
    }
}

.wide-container,
.wp-block-group__inner-container {
    width: 95%;
    max-width: 1600px;
}

@media (max-width: 1490px) {
    .wide-container,
    .wp-block-group__inner-container {
        width: 1200px;
    }
}

@media (max-width: 1260px) {
    .wide-container,
    .wp-block-group__inner-container {
        width: 1100px;
    }
}

@media (max-width: 1160px) {
    .wide-container,
    .wp-block-group__inner-container {
        width: 900px;
    }
}

@media (max-width: 960px) {
    .wide-container,
    .wp-block-group__inner-container {
        width: 800px;
    }
}

.container,
.wide-container,
.small-container,
.wp-block-group__inner-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9;
}

@media (max-width: 840px) {
    .container,
    .wide-container,
    .small-container,
    .wp-block-group__inner-container {
        width: 600px;
    }
}

@media (max-width: 660px) {
    .container,
    .wide-container,
    .small-container,
    .wp-block-group__inner-container {
        width: 400px;
    }
}

@media (max-width: 460px) {
    .container,
    .wide-container,
    .small-container,
    .wp-block-group__inner-container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.w5 {
    width: 5%;
}

.w10 {
    width: 10%;
}

.w14 {
    width: 14.28%;
}

.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w33 {
    width: 33.333%;
}

.w35 {
    width: 35%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}

.w55 {
    width: 55%;
}

.w60 {
    width: 60%;
}

.w65 {
    width: 65%;
}

.w66 {
    width: 66.666%;
}

.w70 {
    width: 70%;
}

.w75 {
    width: 75%;
}

.w80 {
    width: 80%;
}

.w85 {
    width: 85%;
}

.w86 {
    width: 85.71%;
}

.w90 {
    width: 90%;
}

.w95 {
    width: 95%;
}

.w100 {
    width: 100%;
    font-size: 0 !important;
}

.w5, .w10, .w14, .w15, .w20, .w25, .w30, .w33, .w35, .w40, .w45, .w50, .w55, .w60, .w65, .w66, .w70, .w75, .w80, .w85, .w86, .w90, .w95, .w100 {
    display: inline-block;
    box-sizing: border-box;
    font-size: 18px;
    vertical-align: top;
}





@media (max-width: 1490px) {
    .w100 .lg-w5 {
        width: 5%;
    }

    .w100 .lg-w10 {
        width: 10%;
    }

    .w100 .lg-w14 {
        width: 14.28%;
    }

    .w100 .lg-w15 {
        width: 15%;
    }

    .w100 .lg-w20 {
        width: 20%;
    }

    .w100 .lg-w25 {
        width: 25%;
    }

    .w100 .lg-w30 {
        width: 30%;
    }

    .w100 .lg-w33 {
        width: 33.333%;
    }

    .w100 .lg-w35 {
        width: 35%;
    }

    .w100 .lg-w40 {
        width: 40%;
    }

    .w100 .lg-w45 {
        width: 45%;
    }

    .w100 .lg-w50 {
        width: 50%;
    }

    .w100 .lg-w55 {
        width: 55%;
    }

    .w100 .lg-w60 {
        width: 60%;
    }

    .w100 .lg-w65 {
        width: 65%;
    }

    .w100 .lg-w66 {
        width: 66.666%;
    }

    .w100 .lg-w70 {
        width: 70%;
    }

    .w100 .lg-w75 {
        width: 75%;
    }

    .w100 .lg-w80 {
        width: 80%;
    }

    .w100 .lg-w85 {
        width: 85%;
    }

    .w100 .lg-w86 {
        width: 85.71%;
    }

    .w100 .lg-w90 {
        width: 90%;
    }

    .w100 .lg-w95 {
        width: 95%;
    }

    .w100 .lg-w100 {
        width: 100%;
    }
}

@media (max-width: 1160px) {
    .w100 .md-w5 {
        width: 5%;
    }

    .w100 .md-w10 {
        width: 10%;
    }

    .w100 .md-w14 {
        width: 14.28%;
    }

    .w100 .md-w15 {
        width: 15%;
    }

    .w100 .md-w20 {
        width: 20%;
    }

    .w100 .md-w25 {
        width: 25%;
    }

    .w100 .md-w30 {
        width: 30%;
    }

    .w100 .md-w33 {
        width: 33.333%;
    }

    .w100 .md-w35 {
        width: 35%;
    }

    .w100 .md-w40 {
        width: 40%;
    }

    .w100 .md-w45 {
        width: 45%;
    }

    .w100 .md-w50 {
        width: 50%;
    }

    .w100 .md-w55 {
        width: 55%;
    }

    .w100 .md-w60 {
        width: 60%;
    }

    .w100 .md-w65 {
        width: 65%;
    }

    .w100 .md-w66 {
        width: 66.666%;
    }

    .w100 .md-w70 {
        width: 70%;
    }

    .w100 .md-w75 {
        width: 75%;
    }

    .w100 .md-w80 {
        width: 80%;
    }

    .w100 .md-w85 {
        width: 85%;
    }

    .w100 .md-w86 {
        width: 85.71%;
    }

    .w100 .md-w90 {
        width: 90%;
    }

    .w100 .md-w95 {
        width: 95%;
    }

    .w100 .md-w100 {
        width: 100%;
    }
}

@media (max-width: 840px) {
    .w100 .sm-w5 {
        width: 5%;
    }

    .w100 .sm-w10 {
        width: 10%;
    }

    .w100 .sm-w14 {
        width: 14.28%;
    }

    .w100 .sm-w15 {
        width: 15%;
    }

    .w100 .sm-w20 {
        width: 20%;
    }

    .w100 .sm-w25 {
        width: 25%;
    }

    .w100 .sm-w30 {
        width: 30%;
    }

    .w100 .sm-w33 {
        width: 33.333%;
    }

    .w100 .sm-w35 {
        width: 35%;
    }

    .w100 .sm-w40 {
        width: 40%;
    }

    .w100 .sm-w45 {
        width: 45%;
    }

    .w100 .sm-w50 {
        width: 50%;
    }

    .w100 .sm-w55 {
        width: 55%;
    }

    .w100 .sm-w60 {
        width: 60%;
    }

    .w100 .sm-w65 {
        width: 65%;
    }

    .w100 .sm-w66 {
        width: 66.666%;
    }

    .w100 .sm-w70 {
        width: 70%;
    }

    .w100 .sm-w75 {
        width: 75%;
    }

    .w100 .sm-w80 {
        width: 80%;
    }

    .w100 .sm-w85 {
        width: 85%;
    }

    .w100 .sm-w86 {
        width: 85.71%;
    }

    .w100 .sm-w90 {
        width: 90%;
    }

    .w100 .sm-w95 {
        width: 95%;
    }

    .w100 .sm-w100 {
        width: 100%;
    }
}

@media (max-width: 460px) {
    .w100 .xsm-w5 {
        width: 5%;
    }

    .w100 .xsm-w10 {
        width: 10%;
    }

    .w100 .xsm-w14 {
        width: 14.28%;
    }

    .w100 .xsm-w15 {
        width: 15%;
    }

    .w100 .xsm-w20 {
        width: 20%;
    }

    .w100 .xsm-w25 {
        width: 25%;
    }

    .w100 .xsm-w30 {
        width: 30%;
    }

    .w100 .xsm-w33 {
        width: 33.333%;
    }

    .w100 .xsm-w35 {
        width: 35%;
    }

    .w100 .xsm-w40 {
        width: 40%;
    }

    .w100 .xsm-w45 {
        width: 45%;
    }

    .w100 .xsm-w50 {
        width: 50%;
    }

    .w100 .xsm-w55 {
        width: 55%;
    }

    .w100 .xsm-w60 {
        width: 60%;
    }

    .w100 .xsm-w65 {
        width: 65%;
    }

    .w100 .xsm-w66 {
        width: 66.666%;
    }

    .w100 .xsm-w70 {
        width: 70%;
    }

    .w100 .xsm-w75 {
        width: 75%;
    }

    .w100 .xsm-w80 {
        width: 80%;
    }

    .w100 .xsm-w85 {
        width: 85%;
    }

    .w100 .xsm-w86 {
        width: 85.71%;
    }

    .w100 .xsm-w90 {
        width: 90%;
    }

    .w100 .xsm-w95 {
        width: 95%;
    }

    .w100 .xsm-w100 {
        width: 100%;
    }
}

    .valign-top {
        vertical-align: top;
    }

    .valign-middle {
        vertical-align: middle;
    }

    .valign-bottom {
        vertical-align: bottom;
    }

    .talign-left {
        text-align: left;
    }

    .talign-right {
        text-align: right;
    }

    .talign-center {
        text-align: center;
    }